<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="StorageConnectionString" connectionString="UseDevelopmentStorage=true" />
  </connectionStrings>
  <appSettings>
	<add key="tasksQueueName" value="tasks" />
	<add key="resultQueueName" value="results" />
  </appSettings>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>